[submodule "merlin-extend"]
	path = merlin-extend
	url = https://github.com/let-def/merlin-extend
[submodule "merlin"]
	path = merlin
	url = https://github.com/voodoos/merlin.git
[submodule "ocaml"]
	path = ocaml
	url = https://github.com/ocaml/ocaml.git
