name: main

on:
  pull_request:
  push:
  schedule:
    - cron: 0 1 * * MON

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ocaml-compiler:
          - "4.14"
          - "5.1"
          - "5.2"
          - "5.3"
          - "5.4"

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout tree
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: set-up OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git

      - run: opam install . --deps-only --with-test

      - run: opam exec -- dune build -p mlx,ocamlmerlin-mlx

        # TODO: pass --with-dev-setup to opam instead? (requires opam 2.2, I think)
      - run: opam install menhir.20201216 menhirLib.20201216 menhirSdk.20201216 ocamlformat

      - run: opam exec -- dune runtest
